body {
    background-color: rgb(253, 205, 230); /*cor de fundo*/
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    min-height: 100vh; /* Altura mínima da tela inteira */
}

/*sessões*/
section {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Títulos*/
h1, h2 {
    text-align: center;
    color: #f048c6;
    margin-bottom: 20px;
}

.foto-perfil {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    max-width: 200px;
    border: 4px solid #fff;
}

/* imagens */
img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    border-radius: 10px;
}

/* icones */
.icon {
    display: inline-block;
    width: 24px; 
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
}

p {
    margin-bottom: 15px;
    text-align: justify;
}

/* botões */
a.button {
    display: inline-block;
    text-decoration: none;
    background-color: #ff297b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #ff52bd;
}


nav {
    text-align: center;
    margin-top: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a.button {
    padding: 10px 20px;
    background-color: #ff297b;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav ul li a.button:hover {
    background-color: #ff52bd;
}


/* formulário*/
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 10px 20px;
    background-color: #ff297b;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #ff52bd;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info a {
    color: #ff297b;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
